@media screen and (max-width: 1920px) {
body {
  margin: 0;
}
.place {
  

  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  position: absolute;
  top: 200px;
  border: 1px solid #ababab;
  height: 35vh;
  border-radius: 35px;
  width: 702px;
  height: 389px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); 
}
h1 {
  font-family: inter, "Inter Bold";
  text-align: center;
  font-size: 3vh;
  font-weight: 500;
  color: #5a5a5a;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2vh;
}

input {
  font-family: inter, "Inter Bold";
  text-align: center;
  margin-top: 4vh;
  border-radius: 21px;
  font-size: 1.3vw; 
  width: 410px;
  height: 40px;
  border: 1px solid #ababab;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
button {
  padding: 0 2vh;
  margin: 0 1vh 1vh 0;
  border-radius: 21px;
  line-height: 35px;
  font-weight: 700;
  font-size: 2vh;
  width: 132px;
  height: 44px;
  margin-top: 10vh;
  color: #fff;
  background-color: #7C85D1;
  border: 1px solid #bfbfbf;
  filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.25));
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
 }

header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    309deg,
    #4a55a2 0%,
    rgba(74, 85, 162, 0.99) 0.01%,
    rgba(111, 120, 186, 0.99) 72.99%,
    #9299d1 100%
  );
  width: 100%;
}


h2 {
  font-family: inter, "Inter Bold";
  font-size: 7vh;
  margin-top: -20vh;
  text-align: center;
  color: #c8c1c3;
}

.agtu {
  margin-top: 0.1%;
  height: 15vh;
  width: auto;
  filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.25));
}

}



/*----адаптивка для мобилки---------------------------------------------------------------------------------------------------*/
/*@media screen and (min-width: 400px) {
  html, body {
    margin: 0;
    padding: 0;
   }
   
   header, .container {
    margin: 0;
    padding: 0;
 }

 .container {
  display: flow-root;
 }
.place {


  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  position: absolute;
  top: 200px;
  border: 1px solid #ababab;
  height: 35vh;
  border-radius: 35px;
  width: 380px;
  height: 389px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); 
}
h1 {
  font-family: inter, "Inter Bold";
  text-align: center;
  font-size: 3vh;
  font-weight: 500;
  color: #5a5a5a;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2vh;
}

input {
  font-family: inter, "Inter Bold";
  text-align: center;
  margin-top: 4vh;
  border-radius: 21px;
  font-size: 1.3vw; 
  width: 310px;
  height: 40px;
  border: 1px solid #ababab;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
button {
  padding: 0 2vh;
  margin: 0 1vh 1vh 0;
  border-radius: 21px;
  line-height: 35px;
  font-weight: 700;
  font-size: 2vh;
  width: 132px;
  height: 44px;
  margin-top: 7vh;
  color: #fff;
  background-color: #7C85D1;
  border: 1px solid #bfbfbf;
  filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.25));
  transition: transform 0.3s ease;
}

header {
  height: 8vh;
  display: flow-root;
  justify-content: space-between;
  background: linear-gradient(
    309deg,
    #4a55a2 0%,
    rgba(74, 85, 162, 0.99) 0.01%,
    rgba(111, 120, 186, 0.99) 72.99%,
    #9299d1 100%
  );
  width: 100%;
}


h2 {
  font-family: inter, "Inter Bold";
  font-size: 7vh;
  margin-top: -20vh;
  text-align: center;
  color: #c8c1c3;
}

.agtu {
  height: 15vh;
  width: auto;
  filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.25));
}
}