<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/auth.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div>
            <img src="/public/img/main_site.png" alt="Logo">
        </div>
        <h2>Авторизация</h2>
    </header>
    <div class="place">
        <div class="border">
            <h1>Войдите, чтобы продолжить</h1>
            <form action="/login" method="post">
                <!-- <label>Login</label> -->
                <input type="text" name="login" placeholder="Login">
                <!-- <label>Password</label> -->
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Log in</button>
                <p class="error">
            </div>
        </div>
    </p>
</form>
</body> 
</html>
