<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/auth.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div>
            <img src="/public/img/main_site.png" alt="Logo">
        </div>
        <h2>Авторизация</h2>
    </header>
    <div class="place">
        <div class="border">
            <h1>Войдите, чтобы продолжить</h1>
            <form action="/login" method="post">
                <input type="text" name="UserName" placeholder="Login">
                <input type="password" name="Password" placeholder="Password">
                <button type="submit">Log in</button>
                <p class="error">
                <script>
                document.querySelector('form').addEventListener('submit', function(event) {
                    event.preventDefault();

                    var UserName = document.querySelector('input[name="UserName"]').value;
                    var Password = document.querySelector('input[name="Password"]').value;

                    fetch('/login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ UserName: UserName, Password: Password }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            localStorage.setItem('fio', data.fio);
                            window.location.href = '/'; // Перенаправление на главную страницу после успешной авторизации
                        } else {
                            document.querySelector('.error').textContent = data.error;
                        }
                    })
                    .catch(error => console.error('Ошибка:', error));

                });
                </script>
            </div>
        </div>
    </p>
</form>
</body> 
</html>
