<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="/public/css/edit.css" />
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width:480px)" href="/public/css/mobile/mobile-edit.css" />
  </head>
  <body>
    <header>
      <div>
        <img id="LogoId" class="agtu" src="/public/img/logo.svg" alt="Logo">
      </div>
      <div>
        <img id="BackId" class="back" src="/public/img/back.svg">
   </div>
 
      <div class="hat-text" align="center">Изменение позиции</div>
  </header>
    
    <form id="myFormUpdate" action="/items" method="post">
      <div class="form1-row">
      <p><article>Инв. номер</article></p>
      <input type="text" name="invnumber" required />
      <p><article>Название</article></p>
      <input type="text" name="name" required />
      <p><article>Описание</article></p>
      <textarea name="desc"></textarea>
    </div>

      <div class="form2-row">
      <p><article>Хранение</article></p>
      <!--Выпадающий список для Склада-->
      <div class="select-storage">
      <select name="storage" required>
        <option value="">Выберите склад</option>
        <option value="гл.407 УИСИТ">гл.407 УИСИТ</option>
        <option value="Склад СО">Склад СО</option>
        <option value="Склад ВСИС">Склад ВСИС</option>
        <option value="Склад ИБ">Склад ИБ</option>
      </select>
    </div>

   
    
  
      <p><article>Бюджет</article></p>
      <!--Выпадающий список для Бюджет-->
      <select name="budget" required>
        <option value="">Выбрать</option>
        <option value="option1">Да</option>
        <option value="option2">Нет</option>
      </select>
    </div>

      
      <input type="hidden" name="date" />
      
    </form>
    <button class="button-sumbit" type="submit" form="myFormUpdate">Сохранить</button> 
    <div class="border-form"></div>
    <div class="border-qrcode"></div>

    <div id="qrCodeContainer"></div> 
    <button id="downloadQR">Скачать QR-код</button>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var currentUrl = window.location.href;

        var qrcode = new QRCode(document.getElementById("qrCodeContainer"), {
          text: currentUrl,
          width: 128,
          height: 128,
          colorDark: "#000000",
          colorLight: "#ffffff",
          correctLevel: QRCode.CorrectLevel.H,
        });

        var itemJson = localStorage.getItem("selectedItem");
        var item = JSON.parse(itemJson);
        if (item) {
          document.querySelector('input[name="invnumber"]').value =
            item.invnumber;
          document.querySelector('input[name="name"]').value = item.name;
          document.querySelector('select[name="storage"]').value = item.storage;
          document.querySelector('textarea[name="desc"]').value = item.desc;
          document.querySelector('select[name="budget"]').value = item.budget
            ? "option1"
            : "option2";
          document.querySelector('input[name="date"]').value = item.date;
        }

        document
          .getElementById("myFormUpdate")
          .addEventListener("submit", function (e) {
            e.preventDefault();

            var formData = new FormData(this);
            var data = {};
            formData.forEach(function (value, key) {
              if (key === "budget") {
                data[key] = value === "option1";
              } else {
                data[key] = value;
              }
            });

            var jsonData = JSON.stringify(data);
            console.log(item.date);

            fetch("/items/" + item.id, {
              method: "PATCH",
              headers: {
                "Content-Type": "application/json",
              },
              body: jsonData,
            })
              .then((response) => {
                if (!response.ok) {
                  throw new Error(
                    "Ошибка при отправке данных: " + response.statusText
                  );
                }
                return response.json();
              })
              .then((data) => {
                window.location.href = "/";
              })
              .catch((error) => {
                console.error("Ошибка при отправке данных:", error);
              });
          });

        document
          .getElementById("downloadQR")
          .addEventListener("click", function () {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");

            canvas.width = 256;
            canvas.height = 256;

            var image = new Image();
            image.src = qrcode._oDrawing._elImage.src;
            image.onload = function () {
              ctx.drawImage(image, 0, 0, 128, 128);

              ctx.font = "16px Arial";
              ctx.textAlign = "center";
              ctx.fillText(item.invnumber, canvas.width / 3, 140);

              var downloadLink = document.createElement("a");
              downloadLink.href = canvas.toDataURL();
              downloadLink.download = item.invnumber + ".png";

              document.body.appendChild(downloadLink);
              downloadLink.click();

              document.body.removeChild(downloadLink);
            };
          });
      });
    </script>
    <!--Здесь хранятся ссылки при нажатии на изображения #BackId, #LogoId-->
    <script>
      $(document).on("click", "#BackId, #LogoId", function() {
    window.location.href = 'index.html';
});
      </script>
     
  </body>
</html>
