
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Мы крутые</title>
</head>

<body>
<h2 align = "center">Добавить новый товар</h2>
<form action="vendor/create.php" method="post" align = "center">
    <p>Инв. номер</p>
    <input type="text" name="Inventory">
    <p>Описание</p>
    <textarea name="description"></textarea>
    <p>Владелец</p>
    <input type="text" name="Owner">
    <button type="submit">Обновить</button>
    <button type="submit">Qr-Code</button>

</form>


</body>
</html>
